*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-home {
    display: flex;
    margin: 10% 10%;
}
.image-header {
    display: flex;
    justify-content: right;
    flex: 1;
}
.title-header h2 {
    font-size: 28px;
    font-weight: bold;
    color: #323232;
    font-family: "Rockwell Extra Bold";
}
.title-header span{
    color: #8E8E93;
    font-size: 17px;
}
.fa-map-marker-alt{
    padding-right: 3px;
    padding-left: 6px;
}
.tab-button{
    background-color: #E4F3F7;
    border: 1px solid #E4F3F7;
    border-radius: 15px;
    padding: 2% 5%;
    margin: 1% 1% 1% 1%;
    color: #54B2CF ;
    font-size: 14px;
}
.tab-button:hover{
    background-color: #54B2CF;
    color: white;
}
.products{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.product-card{
    background-color: #E4F3F7;
    border-radius: 16px;
    margin: 3% 3%;
    padding: 1% 6% 1% 6%;
}

.product-card h2 {
    font-size: 17px;
    font-weight: bold;
}