* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
    margin: 2rem 0 2rem 1.2rem;
    flex-wrap: nowrap;
    color: #323232;
}
header i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    padding:  1px 3px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}
 



















