* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;

}
a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
    margin: 1.5rem 0 2rem 1.2rem;
    flex-wrap: nowrap;
    color: #323232;
}
header i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    padding:  1px 3px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}

.discounts {
   max-width: 100%;
   overflow-x: auto;
   min-height: 130px;
   display: flex;
}
.discounts::-webkit-scrollbar {
   display: none;
}
.discount {
   min-width: 320px;
   background-color: blueviolet;
   margin: 1rem;
   padding: 15px;
   border-radius: 10px;
   text-align: center;
   color: #ffffff;
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
} 

.discount:first-child, .discount:nth-child(3), .discount:nth-child(5) {
   background-color: #54b2cf;
}
.discount:nth-child(2), .discount:nth-child(4), .discount:nth-child(6) {
   background-color: #b88af8;
}
 .products {
    display: flex;
    flex-direction: column;
   
}
.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    min-height: 100px;
}
.product img {
    max-width: 100%;
    width: auto;
    background-color: #e4f3f7;
    border-radius: 5px;
}
.product .discription {
    width: 70%;
}
.product .discription p:first-child{
    font-weight: bold;
    font-size: 1.2rem;
    color: #323232;
    font-size: 15px;
}
.product .discription p:nth-child(2){
    color: #8e8e93;
    font-size: 13px;
}
.product .discription small {
    font-size: 9px;
    color: white;
    padding: 2px 5px;
    
}
.product .discription small.tall{
    background-color: #54B2CF;
    border-radius: 48px;
    width: 37px;
    height: 16px;
}
.product .discription small.short{
    width: 47px;
    height: 16px;
    border-radius: 48px;
    background-color: #3CD2D2;
    
}
.product .discription small.grand{
    background-color: #B88AF8;
    border-radius: 48px;

}
.product .discription h4{
    font-size: 24px;
    color: #323232;
    font-weight: normal;
}
.product .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
}
.product .counter div:first-child, .product .counter div:last-child{
    border: 1px solid rgba(128, 128, 128, 0.514);
    /* padding: 1px 3px; */
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    
}

.product .counter div {
    font-size: 17px;
    margin-bottom: .5rem;
    font-weight: 500;
    cursor: pointer;
}
.total {
    border-top: 1px solid rgba(128, 128, 128, 0.329);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.total small {
    padding: 10px;
    font-size: 15px;
    color: #323232;
}
.total p {
    padding: 10px;
    font-size: 28px;
    color: #323232;
}
.checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 1rem .3rem 1rem;
}
.checkout .plus {
   text-align: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #54B2CF;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.checkout .check {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 64px;
    
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 70%;
    height: 55px;

}
.checkout .check a {
    color: white;
}
.ponus {
    display: none;
}





@media screen and (min-width: 768px) and (max-width: 1023px) {
    header h3 {
        font-size: 2rem;
    }
    header a {
        font-size: 2rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        padding:  2px 6px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
    }
    .discounts {
        flex-wrap: wrap;
        justify-content: center;
    }
    .discount {
        height: 5rem;
    }
    .product {
        width: 43%;
        font-size: 30px;
        flex-direction: column;
    }


    .product .image {
        width: 100%;
    }


    .product img {
        width: 100%;
        max-width: 400px;
        height: auto;
        /* height: 300px; */
        object-fit: cover;
    }
    .product .discription p:first-child {
        font-size: 25px;
    }
    .product .discription p:nth-child(2) {
        font-size: 21px;
    }
    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -7rem;
    }
   .product .counter {
       flex-direction: row;
       justify-content: space-evenly;
       width: 100%;

   }
   .product .counter div:first-child, .product .counter div:last-child{
    border: 1px solid rgba(128, 128, 128, 0.514);
    /* padding: 1px 3px; */
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
   }

    .product .counter div {
        font-size: 17px;
        margin-bottom: .5rem;
        font-weight: 500;
        cursor: pointer;
    }
    .product .discription small {
        margin-top: .4rem;
        font-size: 23px;
        height: 40px;
    }
    .product .discription small.tall{
        background-color: #54B2CF;
        border-radius: 48px;
    }
    .product .discription small.short{
        border-radius: 48px;
        background-color: #3CD2D2;
        
    }
    .product .discription small.grand{
        background-color: #B88AF8;
        border-radius: 48px;

    }
    .product .discription h4 {
        
        margin: 1rem 0;
    }
    
    .total {
        width: 88%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .total small, .total  p{
        font-size: 2rem;
    }
    .checkout {
        width: 84%;
        margin: auto;
        margin-top: 2rem;
        
    }
}




@media screen and (min-width: 1024px) {
    
    .products {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .discounts {
        margin-left: 8.5rem;
        flex-wrap: wrap;
    }
    .product {
        width: 35%;
        margin-left: 8.5rem;
    }

    .ponus {
        display: flex;
    }
    .product .discription p:first-child {
        font-size: 2rem;
    }
    .product .discription p:nth-child(2) {
        font-size: 1.5rem;
    }
    .product .discription small {
        font-size: .8rem;
    }
    .total {
        width: 80%;
        margin-left: 8.5rem;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .checkout {
        width: 80%;
        margin-left: 8.5rem;
    }
    .checkout .check {
        width: 40%;
    }
    body {
        background-color: #f4bb3f59;
        

    }
}